#toc-container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    margin-bottom: 30px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.toc-title {
    font-weight: 700;
    background-color: #f1f1f1;
    padding-left: 20px;
}

#toc-container li,
#toc-container ul,
#toc-container ul li{
    list-style: outside none none !important;
}

#toc-container ul
{
  margin-left: 0px;
  padding-bottom: 10px;

}

#toc-container ul li
{
  padding-bottom: 0px;
}

#toc-container ul li ul li
{
  font-size: 1em;
  padding-left: 10px;
}
