/*******************************************************************/
/* HIGHLIGHT.JS                                                    */
/*******************************************************************/
.hljs
{
  border: 1px solid #dcdcdc;
  padding: 10px;
  width: 100%;
}

.hljs-ln td
{
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  padding-top: 0.1em !important;
}

.small-code
{
  font-size: 1.2em;
}

.medium-code
{
  font-size: 1.4em;
}

.large-code
{
  font-size: 1.6em;
}

/*******************************************************************/
/* Table of Contents Code I Found Somewhere and Modified           */
/*******************************************************************/
#toc-container
{
    display: table;
    width: 100%;

    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
}

#toc-title
{
    font-weight: 700;
    padding-left: 20px;
    background-color: #f1f1f1;
}

#toc-container li,
#toc-container ul,
#toc-container ul li
{
    list-style: outside none none !important;
}

#toc-container ul
{
  margin-left: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#toc-container ul li
{
  padding-bottom: 0px;
  font-size: 1.6em;
}

#toc-container ul li ul li
{
  font-size: 0.8em;
  padding-left: 10px;
  padding-top: 5px;
}
